#parent {
    display: flex;
  }
#narrow {
    width: 200px;
    background: lightblue;
    /* Just so it's visible */
}
#wide {
    flex: 1;
    /* Grow to rest of container */
    background: lightgreen;
    /* Just so it's visible */
}
#profile {
    text-align :center;
    margin-bottom: 20px;
}

#profile picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}