.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
    display: flex;
    align-items: center;
}

.imagen-circular img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-info {
    margin-left: 20px;
}

h1, h2, h3 {
    color: #333;
}

hr {
    border: 1px solid black;
}

.contact-info,
.languages-skills,
.experience-education,
.interests {
    margin-top: 30px;
}

.contact-info p {
    margin: 10px 0;
}

.languages-skills p,
.languages-skills ul,
.experience-education ul,
.interests ul {
    margin-top: 10px;
}

.experience-education ul,
.languages-skills ul,
.interests ul {
    list-style-type: none;
    padding-left: 0;
}

.experience-education h3,
.languages-skills h2,
.interests h2 {
    margin-bottom: 10px;
}
