body {
    font-family: Arial, sans-serif;
    background-color: #bff0c8;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  #new-task input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 200px;
  }
  
  #new-task input[type="submit"] {
    padding: 8px 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #new-task input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  #tasks {
    list-style-type: none;
    padding: 0;
    counter-reset: item;
  }
  
  #tasks li {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    counter-increment: item;
  }
  
  #tasks li::before {
    content: counter(item);
    font-weight: bold;
    margin-right: 10px;
  }
  
  #tasks li:last-child {
    border-bottom: none;
  }
  
  #tasks li button {
    background-color: #8f8686;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 4px 8px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  #tasks li button:hover {
    background-color: #e53935;
  }
  
  #tasks li input[type="checkbox"] {
    margin-right: 10px;
  }
  
  button#marcar-todos {
    padding: 4px 8px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  button#marcar-todos:hover {
    background-color: #1e87dc;
  }
  
  /* Estilos para los números y nombres de las tareas */
  #tasks li span {
    flex-grow: 1;
  }
  
  #tasks li input[type="checkbox"] + span {
    color: #321;  /* Color del texto de la tarea */
  }
  